.App {
  text-align: center;
}

.content {
  padding-top: 70px;
}

.wrapper {
  height: 100%;
  position: relative;
}

.wrapper-header {
  position: absolute;
  top: 0;
  width: 100%;
}

.wrapper-sidebar {
  height: 100%;
  float: left;
  width: 250px;
  padding-top: 70px;
}

.wrapper-content {
  overflow: auto;
  margin-left: 250px;
  height: 100%;
  background-color: #F2F7FB;
}