.sidebar {
    background-color: #263544;
    height: 100%;
}

.sidebar-head {
    padding: 20px 10px;
    text-align: center;
    box-shadow: 0 4px 4px -4px rgba(0,0,0,.3);
}

.sidebar-body {
    padding: 10px 0;
}

.sidebar-body a {
    display: block;
    padding: 10px 15px;
    color: #b7c0cd;
    font-size: 14px;
    text-decoration: none !important;
    transition: 0.3s ease;
    
}

.sidebar-body a:hover {
    color: white;
}