.img-navbar{
    height: 60px;
    width: 150px;
}

.input_suscripcion{
    height: 30px;
    width: 300px;
}

.form_modal_title{
    
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align:center;
}

.form_modal_subtitle{
    
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align:left;
}


.form_modal_button{
    
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align:center;
}

.form_modal_body{
    width: 100%;
    padding-top: 40px;
    text-align:center;
}

.button_suscripcion{
    
    width:100px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align:center;
}