.page404image{
    display:block;
    height:250px; 
    width:300px;
    margin-bottom:10px;
    margin-left: auto;
    margin-right: auto;
    margin-top:140px;
}

.page404text{
    text-align: center;
   font-size: 20px;
   font-weight: bold;
   margin-bottom: 20px;
   color:black;
}

.Prove-header{
    margin-bottom: 50px;
}

